own-book {
	ion-card{
	    height: 86%;
	    width: 79%!important;
	    margin: auto!important;
	    position: relative;
	    top: 10vh;
	    opacity: 0.9;
	    h1{
	    	text-align: center;
	    	margin-top:1.2rem!important;
	    	margin-left:3rem!important;
	    }
	}
	.close-button{
		float:right;
		background: transparent;
		color:black;
		box-shadow: none;
	}
	.delete-button{
		box-shadow: none;
		background-color: transparent;
		color:#840e1e;
		width: 2rem;
		height: 2rem;
		float: right;
	}
	.add-button{
		color : color($colors,secondary) !important;
	}
	.create-button{
		color: #3261ad !important;
	}
}
