<!-- Generated template for the RegisterComponent component -->

<ion-card>
<button ion-button icon-only (click) = "closeModal();" class = "close-button"><ion-icon name = "close"></ion-icon></button>
	<div class = "input-information">
		<ion-item>
		<ion-label floating>Email Address</ion-label>
		<ion-input type="text" ></ion-input>
		</ion-item>
		<ion-item>
		<ion-label floating>Confirm Email Address</ion-label>
		<ion-input type="text" ></ion-input>
		</ion-item>
		<ion-item>
		<ion-label floating >Password</ion-label>
		<ion-input type="password" ></ion-input>
		</ion-item>
			<ion-item>
		<ion-label floating style = "margin-bottom:3rem;">Confirm Password</ion-label>
		<ion-input type="password" ></ion-input>
		</ion-item>
	</div>
		<div class = "next-step">		
			<button ion-button>Next Step</button>
		</div>
</ion-card>
